@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Gloria Hallelujah', cursive;
  background: #ffe;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

body.dark {
  background-color: #1e1e1e;
  color: #fff;
}

.main-wrapper {
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.container {
  width: 425px;
  height: 600px;
  border: 3px dashed #333;
  border-radius: 20px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 8px 8px 0px #000;
  transition: background-color 0.3s;
}

body.dark .container {
  background-color: #333;
  border-color: #aaa;
  box-shadow: 8px 8px 0px #999;
}

.wrapper {
  display: grid;
  grid-template-rows: 100px 1fr;
  gap: 10px;
}

.inputArea input[type="text"] {
  width: 100%;
  padding: 30px 10px;
  font-size: 30px;
  background-color: #f0f0f0;
  text-align: right;
  border: 2px dashed #888;
  border-radius: 10px;
}

body.dark .inputArea input[type="text"] {
  background-color: #555;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

input[type="button"] {
  font-size: 1.8rem;
  padding: 20px;
  border: 2px dashed #555;
  border-radius: 12px;
  background-color: #fff5;
  color: #000;
  transition: 0.2s;
}

body.dark input[type="button"] {
  background-color: #444;
  color: #fff;
  border-color: #888;
}

input[type="button"]:hover {
  background-color: #ffdd99;
  cursor: pointer;
}

.theme-switch {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}

.theme-switch input {
  display: none;
}

.theme-switch .slider {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 30px;
  position: relative;
  vertical-align: middle;
}

.theme-switch .slider::before {
  content: "";
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: 0.3s;
}

#themeToggle:checked + .slider::before {
  transform: translateX(30px);
}

.theme-text {
  margin-left: 10px;
  font-size: 1rem;
  vertical-align: middle;
}
